@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Mohave:ital,wght@1,300&family=Oswald:wght@300&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}
#ap{
    color: rgb(0, 183, 255);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(23, 23, 77);
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

nav ul li a:hover {
    color: rgba(0, 183, 255);
}

nav ul li {
    position: relative;
}

.colo {
    color: rgb(0, 183, 255);
}

nav ul li::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgba(0, 183, 255);
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;

}

nav ul li:hover::after {
    opacity: 1;
}

body {
    background-color: rgb(0, 0, 34);
    color: rgb(255, 255, 255);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin-top: 17px;
    margin-left: 23px;
}

#firstsection {
    justify-content: space-around;
    display: flex;
    margin: 80px 0;
    align-items: center;
}

#firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 40px;
}

.rightsection img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: -3px -3px 25px 25px rgb(0, 183, 255);
    margin-top: 30px;
    background-color: rgba gray;
    border: 4px solid rgb(0, 183, 255);
}

.purple {
    color: rgb(0, 183, 255);
}

#element {
    color: rgb(0, 183, 255);
}

.btn {
    background-color: transparent;
    border: 1px 2px rgba(0, 183, 255);
}

.para {
    text-align: left;
    word-spacing: 5px;
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 18px;
    color: white;
}

h2 {
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
}

h3 {
    margin: 5px;
}

.skill {
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(216, 208, 208, 0.25), 0 10px 10px rgba(216, 208, 208, 0.22);
    list-style: none;
    float: left;
    margin-left: 20px;
    background-color: rgb(36, 11, 59);
}

.skill li {
    margin: 20px 0;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(116, 116, 116, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(92, 84, 84, 0.12), 0 1px 2rgba(94, 85, 85, 0.24)24;
    transition: all 0.3s cubic-bezier(.25, 8, 25, 1);

}

.bar:hover {
    box-shadow: 0 14px 28px rgba(255, 194, 194, 0.25), 0 10px 10px rgba(255, 203, 203, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);

}

.html {
    width: 90%;
    animation: html 12s;
}

.css {
    width: 80%;
    animation: css 12s;
}

.javascript {
    width: 70%;
    animation: javascript 12s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}


@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}


.sql {
    width: 60%;
    animation: html 12s;
}

.php {
    width: 50%;
    animation: css 12s;
}

.laravel {
    width: 40%;
    animation: javascript 12s;
}

@keyframes sql {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@keyframes php {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}


@keyframes laravel {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}



.skills {
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(216, 208, 208, 0.25), 0 10px 10px rgba(216, 208, 208, 0.22);
    list-style: none;
    float: left;
    margin-left: 30%;
    background-color: rgb(36, 11, 59);
}

.skills li {
    margin: 20px 0;
}

.bars {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(116, 116, 116, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(92, 84, 84, 0.12), 0 1px 2rgba(94, 85, 85, 0.24)24;
    transition: all 0.3s cubic-bezier(.25, 8, 25, 1);

}

.bars:hover {
    box-shadow: 0 14px 28px rgba(255, 194, 194, 0.25), 0 10px 10px rgba(255, 203, 203, 0.22);
}

.bars span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);

}

.figma {
    width: 87%;
    animation: figma 12s;
}

.seo {
    width: 70%;
    animation: seo 12s;
}

.frame {
    width: 95%;
    animation: frame 12s;
}

@keyframes figma {
    0% {
        width: 0%;
    }

    100% {
        width: 87%;
    }
}

@keyframes seo {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}


@keyframes frame {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

#sp {
    color: white;
}

#h4 {
    text-align: center;
    font-size: x-large;
    font-weight: 300;
    color: white;
}

.h21 {
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    color: white;
    margin-top: 20px;
}

.sp1 {
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    color: rgb(0, 183, 255);
    margin-top: 20px;
}

#h1 {
    height: 300px;
    width: 300px;
    margin-left: 57px;
    box-sizing: border-box;
    margin-top: 40px;

}

#h1 img {
    border-radius: 30%;
    box-shadow: 1px 1px 7px 7px rgb(0, 183, 255);
    cursor: pointer;
    overflow: hidden;
    transition: all 5s 5s ease-in-out;
}

.i3 {
    height: 210px;
    width: 350px;
}

.i2 {
    height: 210px;
    width: 390px;
}

.i1 {
    height: 210px;
    width: 390px;
}

#h1:hover {
    cursor: pointer;
    opacity: 3;
    transform: scale(1.1);
}

#h1 img:hover {
    box-shadow: -2px -2px 10px 10px rgb(69, 202, 255);

}

#h1 p {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-size: larger;
}

#concbtn {
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 183, 255);
    box-shadow: 3px 3px 7px 7px rgb(170, 231, 255);
}

#concbtn:hover {
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 183, 255);
    box-shadow: 3px 3px 7px 7px rgb(0, 183, 255);

}